{{ define "main" }}
<section id="featured-projects">
  {{ range where (where .Data.Pages "Section" "projects") ".Params.featured" "==" true }}
  <figure>
    {{ $original := .Resources.GetMatch (printf "%s*" (.Params.cover_image)) }}
    {{ $image := $original.Fill "375x375"}}
    <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" /></a>
    <figcaption>
        <a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
      <p class="lead_in">{{ .Params.lead_in | markdownify }}<br /><i>{{ .Params.location }}</i></p>
    </figcaption>
  </figure>
  {{ end }}
</section>
<!-- <h2>Other Projects</h2> -->
<section id="projects">
  <ul>
  {{ range where (where .Data.Pages "Section" "projects") ".Params.featured" "==" false }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</section>
{{ end }}
