{{ define "main" }}
<section id="projects">
  {{ range where .Paginator.Pages.ByWeight "Section" "ne" "" }} {{ $.Scratch.Add "i" 1 }} {{ $i := $.Scratch.Get "i" }}
  <article id="{{ .File.BaseFileName }}">
    {{ if modBool $i 2 }}
    <section>
      <h1>{{ .Title }}</h1>
      <p>{{ .Summary | markdownify }}</p>
      <a class="button" style="float: left;" href="{{ .URL | absURL }}">Read More</a>
    </section>
    <figure class="project-preview-img">
      <img src="/images/{{ .File.TranslationBaseName }}.jpg" class="margin-left" />
      <figcaption class="margin-left">{{ .Params.caption }}</figcaption>
    </figure>
    {{ else }}
    <figure class="project-preview-img">
      <img src="/images/{{ .File.TranslationBaseName }}.jpg" class="margin-right" />
      <figcaption class="margin-right">{{ .Params.caption }}</figcaption>
    </figure>
    <section>
      <h1>{{ .Title }}</h1>
      <p>{{ .Summary | markdownify }}</p>
      <a class="button" style="float: right;" href="{{ .URL | absURL }}">Read More</a>
    </section>
    {{ end }}
  </article>
  {{ end }}
</section>
{{ end }}
