/* Base */
html, body { height: 100%; }

body {
  font: 16px 'Open Sans', sans-serif;
}

/* Main */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover, a.active {
  color: #a8a8a8;
}

h4 {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
}

/* Header & Footer */

header, footer {
  display: flex;
  width: 100%;
}

footer {
  padding-top: 15px;
}

header h1 {
  width: 40%;
}

header nav {
  width: 60%;
  margin: 0.67em 0;
  text-align: right;
}

footer #copyright {
  width: 60%;
  margin: 0.67em 0;
  font-size: 0.9em;
}

footer #social {
  width: 40%;
  text-align: right;
  font-size: 1.5em;
}

header nav ul,
footer #social ul {
  list-style: none;
  vertical-align: middle;
}

header nav ul li {
  display: inline;
  padding: 0px 7px;
}

footer #social ul li {
  display: inline;
  padding: 0px 5px;
}


footer #social ul {
  margin: 0;
}

/*  */

#main p a:link, #main p a:visited {
  color: #f44336;
}

main figure {
  margin: 0;
}

main figure.float-left img {
  margin-right: 15px;
  float: left;
}

main figure.float-right img {
  margin-left: 15px;
  float: right;
}

/* Projects List  */

main section#featured-projects {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

main section#featured-projects figure {
  width: 350px;
  padding: 10px;
  margin: 10px;
}

main section#featured-projects figure h4 {
  margin: 3px 0px;
}

main section#featured-projects figure p.lead_in {
  margin: 3px 0px;
  font-size: 0.8em;
}

/* Project Pages */

main div.float-left {
  float: left;
  margin-right: 15px;
}

main div.float-right {
  float: right;
  margin-left: 15px;
}

section.footnotes {
  font-size: 0.7em;
}

/* Photography */

main #photo-galleries,
main #full-photo-gallery {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

main #photo-galleries figure {
  margin: 10px;
  text-align: center;
  width: 375px;
}

main #photo-galleries figure h4 {
  margin: 3px 0px;
}

main #photo-galleries figure img {
  width: 375px;
  height: 375px;
  object-fit: cover;
}

main h1.photo-gallery-title {
  text-align: right;
}

main #full-photo-gallery figure {
  margin: 5px;
  width: 375px;
}

main #embedded-photo-gallery figure img,
main #full-photo-gallery figure img {
  width: 375px;
  height: 250px;
  object-fit: cover;
}


