{{ $image := .Page.Resources.GetMatch (printf "%s" (.Get "file")) }}
{{ $caption := .Get "caption" }}
{{ $command := (printf "%s" (.Get "options" | default "x800")) }}
{{ $thumbnail := $image.Resize (printf "%s q100" $command) }}
{{ $href := .Get "link" | default $image.RelPermalink }}
{{- with .Parent -}}
  <a href='{{ $image.RelPermalink }}' data-ngthumb="{{$thumbnail.RelPermalink}}" data-ngdesc="{{ $caption }}">{{ $caption }}</a>
{{- else -}}
  {{ with .Get "class" }}<div class="{{ . }}">{{ end }}<a href="{{ $href }}"><img src='{{ $thumbnail.RelPermalink }}' /></a>{{ with .Get "class"}}</div>{{ end }}
{{- end }}
